.sign {
  background-color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
}

label {
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
}

.field, .actions, h2 {
  margin-left: 3rem;
  width: 60%;
  font-weight: 900;
  border-radius: 15%;
}

.rounded{
  border-radius: 2rem
}

.button{
  background-color: #97F4E1;
  ;
}

#fade {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}