.title-bar{
  background-color: #97F4B3;
  color: black;
  font-weight: bolder;
  margin: 1rem 5rem 1rem 5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.top-bar{
  background-color: #97D9F4;
  margin: 1rem 5rem 1rem 5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.rounded{
  border-radius: 10rem
}