body{
  background-color: whitesmoke;
}

.title-bar{
  background-color: #97F4B3;
  color: black;
  font-weight: bolder;
  margin: 1rem 5rem 1rem 5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.top-bar{
  background-color: #97D9F4;
  margin: 1rem 5rem 1rem 5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.rounded{
  border-radius: 10rem
}

.grid-container{
  margin: 1rem 5rem 1rem 5rem
}

.callout{
  border-color: #97F4E1;
}

select{
  border-radius: 5rem;
}

.odd-row{
  background-color: 97F4E1;
}

.sign-in{
  margin: 1rem 2rem 2rem 2rem
}

.footer{
  background-color: #97F4B3;
  text-align: left;
  font-size: small;
  padding: .5rem;
  margin: .5rem
}